html,body{
    min-height: 100vh;
    min-width: 100vw;
}
.parent{
    height: 100vh;
}
.parent>.row{
    display: flex;
    align-items: center;
    height: 100%;
}
.col img{
    height:100px;
    width: 100%;
    cursor: pointer;
    transition: transform 1s;
    object-fit: cover;
}
.col label{
    overflow: hidden;
    position: relative;
}
.imgbgchk:checked + label>.tick_container{
    opacity: 1;
}
/*         aNIMATION */
.imgbgchk:checked + label>img{
    transform: scale(1.25);
    opacity: 0.3;
}
.tick_container {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}
.tick {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
#menu
{
    z-index: 5;
}
#fog {
    position: relative;
}
.stars{
    z-index: 5;
}
#fog::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/fog.png');
    background-size: cover;
    opacity: 0.4; /* Wybierz wartość od 0 do 1 */
    z-index: 3;
    pointer-events: none;
}
#cloud {
    position: relative;
}

#cloud::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/cloud.png');
    background-size: cover;
    opacity: 0.4; /* Wybierz wartość od 0 do 1 */
    z-index: 1;
    pointer-events: none;
}

#rain {
    position: relative;
}

#rain::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/cloud.png');
    background-size: cover;
    opacity: 0.4; /* Wybierz wartość od 0 do 1 */
    z-index: 2 ;
    pointer-events: none;
}